@import url('https://fonts.googleapis.com/css2?family=Allura&family=Italianno&display=swap');

:root {
  --transluscent-black: rgb(0, 0, 0, .82);
  --normal-font-size: 2em;
}

body {
  /* background-image: url('images/one-piece-food.jpg'); */
  background-image: url('images/food.jpg');
  background-size: cover;
  background-attachment: fixed;
  transition: background-image 1s ease-in;
  margin: 0;
}

.title-container {
  width: 100%;
  text-align: center;
}

.title {
  font-size: 8em;
  padding: 30px;
  padding-bottom: 0;
  margin: 0;
  /* background-color: black; */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--transluscent-black);
  color: white;
  font-family: 'Italianno', cursive;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 5em; */
}

.section-button-container {
  font-size: var(--normal-font-size);
  margin: 0px;
  font-family: 'Allura', cursive;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
}

.section-button:hover {
  transform: translateY(-8px);
  cursor: pointer;
}

.section-button-container-selected {
  border-bottom: solid 2px white;
}

.section-button {
  margin: 5px;
  padding: 4px;
  transition: transform .5s ease-out;
}

/* home section */
.home-container {
  font-family: 'Allura', cursive;
  color: white;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  padding: 2em;
  align-items: center;
  background-color: var(--transluscent-black);
}

.home-description {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  font-size: var(--normal-font-size);
}

.chef-container {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chef-pic {
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 100%;
}

/* menu section */
.menu-container {
  font-family: 'Allura', cursive;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5em;
  max-width: 800px;
  margin: auto;
  margin-top: 50px;
  padding: 5em;
  align-items: center;
  background-color: var(--transluscent-black);
}

.menu-item-container {
  display: flex;
  font-size: var(--normal-font-size);
}

.menu-item-pic {
  max-width: 200px;
  max-height: 200px;
  width: 100%;
  height: 200px;
}

.menu-item-description-container {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: .5em;
}

.menu-item-title-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu-item-title {
  margin-top: 0;
  margin-bottom: 0;
}

.menu-item-description {}

/* contact section */
/* media queries at the end so they have access to all css selectors */
@media screen and (max-width: 600px) {
  .chef-container {
    flex-wrap: wrap;
  }

  .menu-container{
    padding-left: 2em;
    padding-right: 2em;
  }

  .menu-item-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
}
